{#FAZER UMA TELA PARA CADASTRAR UM NOVO CARD: IMAGEM, NOME, TIPO DE CARD: INSTA, FACE#}
<div id="modal" class="hide">
        <div class="content">
          <header>
            <a href="index.html">Fechar</a>
          </header>
          <form action="">
            <label for="search">Novo Card</label>
            <div class="field">
              <input type="text" name="nome" placeholder="Nome">
            </div>
            <div class="field2">
              <input type="text" name="nick" placeholder="@" required="required">

            </div>
            <button type="submit">
              <img src="/images/add.svg" alt="">
            </button>
          </form>
        </div>
      </div>