<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">

    <link rel="stylesheet" href="/styles/main.css">

  </head>

  <body>
    <div id="page-home-dark">
      <div class="content">
        <header>
          <div class="text-detail">
            <h2>Social Media Dashboard</h2>
            <h4>Total Followers 700</h4>
            <a href="#">
              <img src="/images/iconmonstr-plus-2.svg" alt="">
            </a>
          </div>
          <div class="darkmode">
            <input type="checkbox" name="setLightMode" id="checktype">
            <h4>Dark Mode</h4>
          </div>

        </header>

        <main>
          <div class="cards">
            <div class="card">
              <div class="top">
                <img src="/images/icon-facebook.svg" alt="">
                <h4>@linkdirecionamento</h4>
              </div>
              <div class="primer">
                <h1>1980</h1>
                <h4>L E G E N D A</h4>
              </div>

              <div class="second">
                <img src="/images/icon-up.svg" alt="">
                <h6>Estatística</h6>
              </div>

            </div>

            <div class="card-1">
              <div class="top">
                <img src="/images/icon-youtube.svg" alt="">
                <h4>@linkdirecionamento</h4>
              </div>
              <div class="primer">
                <h1>11k</h1>
                <h4>L E G E N D A</h4>
              </div>

              <div class="second">
                <img src="/images/icon-down.svg" alt="">
                <h6>Estatística</h6>
              </div>

            </div>
            <div class="card-2">
              <div class="top">
                <img src="/images/icon-instagram.svg" alt="">
                <h4>@linkdirecionamento</h4>
              </div>
              <div class="primer">
                <h1>1980</h1>
                <h4>L E G E N D A</h4>
              </div>

              <div class="second">
                <img src="/images/icon-up.svg" alt="">
                <h6>Estatística</h6>
              </div>

            </div>

            <div class="card-4">
              <div class="top">
                <img src="/images/icon-twitter.svg" alt="">
                <h4>@linkdirecionamento</h4>
              </div>
              <div class="primer">
                <h1>11k</h1>
                <h4>L E G E N D A</h4>
              </div>

              <div class="second">
                <img src="/images/icon-up.svg" alt="">
                <h6>Estatística</h6>
              </div>

            </div>

          </div>
        </main>

      </div>
      <div id="modal" class="hide">
        <div class="content">
          <header>
            <a href="index.html">Fechar</a>
          </header>
          <form action="">
            <label for="search">Novo Card</label>
            <div class="field">
              <input type="text" name="nome" placeholder="Nome">
            </div>
            <div class="field2">
              <input type="text" name="nick" placeholder="@" required="required">

            </div>
            <button type="submit">
              <img src="/images/add.svg" alt="">
            </button>
          </form>
        </div>
      </div>
    </div>

  </body>
  <script src="/scripts/index.js"></script>
  <script src="/scripts/pages.js"></script>

</html>