.theme-light {
    --background: hsl(0, 0%, 100%);
    --top-background: hsl(225, 100%, 98%);
    --card-background: hsl(227, 47%, 96%);
    --text: hsl(228, 12%, 44%);
    --title: hsl(230, 17%, 14%);
}

.theme-dark {
    --background: hsl(230, 17%, 14%);
    --top-background: hsl(232, 19%, 15%);
    --card-background: hsl(228, 28%, 20%);
    --text: hsl(228, 34%, 66%);
    --title: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Inter, sans-serif;
}

body {
    background: var(--top-background);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 20px;
    color: var(--title);
    font-family: Inter, sans-serif;
}

h4 {
    font-size: 12px;
    font-weight: 100;
    color: var(--text);
    font-family: Inter, sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--title);
    font-family: Inter, sans-serif;
}

h3 {
    font-size: 15px;
    color: var(--text);
}

/*vh = viewport height*/